# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

#Distribution
dist/
lib/

# Coverage directory used by tools like istanbul
coverage
*.lcov

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
.env.test

# Dependency directories
node_modules/
jspm_packages/

tmp/
out/hidden/
templates/hidden/
config/hidden/
/out/Generic Nurse Encounter.adoc
/templates/Generic Nurse Encounter.json
/out/HSE - HealthLink Laboratory report.adoc
/templates/HSE - HealthLink Laboratory report.json
/out/HSE -  Remote monitoring.adoc
/templates/HSE -  Remote monitoring.json
/out/OL - Advance intervention information.adoc
/templates/ROSI - Emergency contacts.json
