# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

#Distribution
dist/
lib/

# Coverage directory used by tools like istanbul
coverage
*.lcov

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Optional npm cache directory
.npm


# dotenv environment variables file
.env
.env.test


# Dependency directories
node_modules/
jspm_packages/
/out/
/templates/


/templates/Davita Nephrology Portugal - Patient Information.json
/templates/DaVita Nephrology Register Portugal - Encounter.json
/templates/DaVita Nephrology Register Portugal - Imaging.json
/templates/DaVita Nephrology Register Portugal - Medication.opt
/templates/DaVita Nephrology Register Portugal - Prescriptions.json
/out/DaVita Nephrology Register Portugal - Prescriptions.pdf
/out/Generic Nurse Encounter.adoc
/out/DA VITA  - PD REgistry extension.adoc
/out/DaVita Nephrology Register Portugal - Prescriptions.adoc
 /templates/Generic Nurse Encounter.json
/templates/DA VITA  - PD REgistry extension.json


